@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Muli:wght@400;500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

.containerFluid {
  width: 40%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
}

.containerFluid h2 {
  color: #f78b93;
  position: relative;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.containerFluid h2::after {
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  content: "";
  bottom: 0;
  left: 930px;
  width: 67px;
  height: 2px;
  background-color: #f78b93;
}

.accordion {
  width: 800px;
  padding: 0;
  border: 2px solid #6db5ff;
  cursor: pointer;
  border-radius: 50px;
  display: flex;
  margin: 10px 0;
  align-items: center;
}

.accordion .icon {
  margin: 0 10px 0 0;
  width: 30px;
  height: 30px;
  background: url(https://raw.githubusercontent.com/Tusar78/responsive-accordion/main/images/toggle-bg.png)
    no-repeat 8px 7px #6db5ff;
  border-radius: 50%;
  float: left;
  transition: all 0.5s ease-in;
}

.accordion h5 {
  font-size: 15px;
  margin: 0;
  padding: 3px 0 0 0;
  font-weight: 500;
  color: #1f5c9a;
  font-family: "Poppins", sans-serif;
}

.accordion.active {
  background-color: #6db5ff;
  color: #fff;
}

.accordion.active .icon {
  background: url(https://raw.githubusercontent.com/Tusar78/responsive-accordion/main/images/toggle-bg.png)
    no-repeat 8px -25px #fff;
}

.panel {
  padding: 0 15px;
  border-left: 1px solid #6db5ff;
  margin-left: 25px;
  font-size: 13px;
  text-align: justify;
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s ease-in;
  width: 780px;
}

@media (max-width: 1000px) {
  .containerFluid {
    padding: 30px;
    margin-bottom: 100px;
  }

  .containerFluid .accordion {
    width: 600px;
  }

  .containerFluid .accordion .icon{
    width: 30px;
    height: 30px;
  }

  .containerFluid .panel {
    width: 600px;
    height: auto;
  }
}

@media (max-width: 800px) {
  .containerFluid {
    margin: 30px auto 30px 30px;
  }

  .containerFluid .accordion {
    width: 400px;
  }

  .containerFluid .accordion .icon{
    width: 30px;
    height: 30px;
  }

  .containerFluid .panel {
    width: 400px;
    height: auto;
  }
}
@media (max-width: 500px) {
  .containerFluid {
    margin: 30px auto 30px 30px;
  }

  .containerFluid .accordion {
    width: 250px;
    padding: 4px;
  }

  .containerFluid .accordion .icon {
    width: 30px;
    height: 30px;
  }

  .containerFluid .panel {
    width: 230px;
    height: auto;
  }
}
